<app-loading *ngIf="loading"></app-loading>

<div *ngIf= "" class="alert-danger animated fadeIn">
    <h3>
        Error
    </h3>
    <p>{{mensajeError}}</p>
</div>

<app-tarjetas [items]="nuevasCanciones"></app-tarjetas>